In [1]:
import pandas as pd 
import numpy as np

In [4]:
amir_deals=pd.read_csv(r"C:\Users\thika\Downloads\amir_deals.csv")
amir_deals

     Unnamed: 0    product   client status   amount  num_users
0             1  Product F  Current    Won  7389.52         19
1             2  Product C      New    Won  4493.01         43
2             3  Product B      New    Won  5738.09         87
3             4  Product I  Current    Won  2591.24         83
4             5  Product E  Current    Won  6622.97         17
..          ...        ...      ...    ...      ...        ...
173         174  Product A  Current   Lost  5835.32         23
174         175  Product D  Current    Won  6377.50         12
175         176  Product D  Current    Won  3537.61         28
176         177  Product A  Current    Won  6448.07         34
177         178  Product D      New   Lost  7320.05         72

[178 rows x 6 columns]

In [5]:
# Count the deals for each product
counts = amir_deals['product'].value_counts()
print(counts)

Product B    62
Product D    40
Product A    23
Product C    15
Product F    11
Product H     8
Product I     7
Product E     5
Product N     3
Product G     2
Product J     2
Name: product, dtype: int64

In [7]:
# Count the deals for each product
counts = amir_deals['product'].value_counts()

# Calculate probability of picking a deal with each product
probs = counts/amir_deals.shape[0]
print(probs)

Product B    0.348315
Product D    0.224719
Product A    0.129213
Product C    0.084270
Product F    0.061798
Product H    0.044944
Product I    0.039326
Product E    0.028090
Product N    0.016854
Product G    0.011236
Product J    0.011236
Name: product, dtype: float64

In [8]:
# Set random seed
np.random.seed(24)


# Sample 5 deals without replacement
sample_without_replacement =amir_deals.sample(5)
print(sample_without_replacement)

     Unnamed: 0    product   client status   amount  num_users
127         128  Product B  Current    Won  2070.25          7
148         149  Product D  Current    Won  3485.48         52
77           78  Product B  Current    Won  6252.30         27
104         105  Product D  Current    Won  4110.98         39
166         167  Product C      New   Lost  3779.86         11

In [9]:
# Set random seed
np.random.seed(24)

# Sample 5 deals with replacement
sample_with_replacement = amir_deals.sample(5,replace = True)
print(sample_with_replacement)

     Unnamed: 0    product   client status   amount  num_users
162         163  Product D  Current    Won  6755.66         59
131         132  Product B  Current    Won  6872.29         25
87           88  Product C  Current    Won  3579.63          3
145         146  Product A  Current    Won  4682.94         63
145         146  Product A  Current    Won  4682.94         63

### Creating a Probability Distribution